<h1>Teacher Login</h1>

<form action="/teacher/login" method="post">
    <label for="">Teacher User-ID mceapastrana</label><br>
    <input type="text" name="userlogin" id="userlogin" placeholder="mceapastrana"><br><br>
    <label for="">Password mceapastrana</label><br>
    <input type="text" name="userpassword" id="userpassword" placeholder="mceapastrana"><br><br>
    <input type="submit" value="submit">
</form>